
.favorites-container .favorites-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-left: 5px solid #6a4dfd;
    padding-left: 0.8rem;
    margin-left: 2rem;
    color: white;
    text-transform: uppercase;
   
}

.favorites-container .favorites-scroll {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    overflow-x: auto;
    background-color: rgb(7, 6, 6);
    margin: 4rem;
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 1rem;
    justify-content: flex-start;
    scroll-behavior: smooth;
}

.favorites-container .favorites-scroll::-webkit-scrollbar {
    height: 8px;
}

.favorites-container .favorites-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #6a4dfd, #ff4c4c);
    border-radius: 10px;
}

.favorites-container .favorites-scroll::-webkit-scrollbar-track {
    background: #0b0b0b;
}

.favorites-container .empty-text {
    padding: 2rem;
    color: white;
    font-style: italic;
}


.favorites-container .movie-cards {
    display: flex;
    
}


